{% load staticfiles %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href={% static 'products/style.css'%}

{% if all_products %}
  <ul>
    {% for product in all_products %}
    <li><a href="/{{product.id}}">{{product.name}}</a></li>
    {% endfor %}
  </ul>
{% else %}
  <h3>nenhum produto cadastrado</h3>
{% endif %}
